<div class="toolbar" role="banner">
  <img width="30" alt="Escudo Ciudad de Medellín" src="./../assets/Escudo_Medellin.png"/>
  <span>Dashboard - Hurtos en Medellín</span>
</div>

<div class="content" role="main">
  <div class="list">
    <p class="label">Seleccione un modelo:</p>
    <select #models (change)="onSelected()" class="select">
      <option value="1" default>Modelo 1 (Clusters: 1)</option>
      <option value="2">Modelo 2 (Clusters: 2)</option>
      <option value="3">Modelo 3 (Clusters: 3)</option>
      <option value="4">Modelo 4 (Clusters: 4)</option>
      <option value="5">Modelo 5 (Clusters: 5)</option>
      <option value="6">Modelo 6 (Clusters: 6)</option>
      <option value="7">Modelo 7 (Clusters: 7)</option>
      <option value="8">Modelo 8 (Clusters: 8)</option>
      <option value="9">Modelo 9 (Clusters: 9)</option>
      <option value="10">Modelo 10 (Clusters: 10)</option>
    </select>
  </div>
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>
<div class="convencion">
  <div>Menos peligroso</div>
  <div class="escala"></div>
  <div>Más peligroso</div>
</div>

<div class="footer"></div>
<router-outlet></router-outlet>